.app-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .app-container {
    padding-left: 0;
    padding-right: 0;
  }
}



/* Body */
.body-section {
  padding: 2rem 0;
}
